{% extends  "bootstrap/base.html" %}

{% block title %}Datathon{% endblock %}

{% block navbar %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <script src="/static/js/jquery-2.2.3.min.js"></script>

    <nav class="navbar navbar-default">
      <div class="container" style="padding:0;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed navbar-inverse" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a class="navbar-brand" href="\" style="padding-left:30px; margin-top:4px;"><img src="/static/images/logo-inverted.png" title="Home" width="100px"><span style="display:none;">Home</span></a>
        <a class="navbar-brand" href="\" style="padding-left:30px;"><img src="/static/images/GMU-header-logo-home.png" title="GMU" style="margin-top:-16px;"><span style="display:none;">Home</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-inverse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="\">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="/skills_survey">Occupation Recommendations<span class="sr-only">(current)</span></a></li>            
            <li><a href="/job">Career Outlook<span class="sr-only">(current)</span></a></li>
            <li><a href="/education">Job Supply/Demand<span class="sr-only">(current)</span></a></li>
            <li><a href="/initial_map">Evaluate Your Commute<span class="sr-only">(current)</span></a></li>
          </ul>


          <!--<form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About the Team<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>-->

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid" style="padding:0px">
        {% block page_content %}{% endblock %}
    </div>

    <script>

$(function()
{  
  $(".nav a").on("click", function(){
     $(".nav").find(".active").removeClass("active");
     $(this).parent().addClass("active");
  });
});

</script>
{% endblock %}